@import "tailwindcss";
/* @plugin 'lightswind/plugin'; */
body {
  background-color: #f8faff; /* subtle light blueish background */
  color: #000; /* or #333 for softer text */
  font-family: "Inter", sans-serif; /* example professional font */
}
html {
  scroll-behavior: smooth;
}
.bg-custom {
  background-color: #066787;
}
.bg-custom2 {
  background-color: #0e98cd;
}
.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0.8) 102%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
/* From Uiverse.io by doniaskima */
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #0e98cd;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 10px 0;
  text-transform: uppercase;
  max-width: 200px;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;

  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

.btn-23 .marquee {
  --spacing: 21em;
  --start: 0em;
  --end: 21em;
  -webkit-animation: marquee 2s linear infinite;
  animation: marquee 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  white-space: nowrap;
  position: relative;
  text-shadow:
    #fff var(--spacing) 0,
    #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--end));
  }

  to {
    transform: translateX(var(--start));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--end));
  }

  to {
    transform: translateX(var(--start));
  }
}
